h3 위시리스트
section.options.done 
  a(data-value='true').option 담겨있는 숙소
  a(data-value='false').option 담겨있지 않는 숙소
  a(data-value='all').all 전체

h3 여행의 중요도
section.options.priority 
  a(data-value='3').option 큼
  a(data-value='2').option 보통
  a(data-value='1').option 작음
  a(data-value='all').all 전체

h3 숙소 유형
section.options.category
  a(data-value='개인').option 1인
  a(data-value='가족').option 2인
  a(data-value='업무').option 3인
  a(data-value='기타').option 4인 이상
  a(data-value='all').all 전체
