extends ../layout

block content
    table.table.table-striped
        tr
            //- th 숙소 제목
            th 체크인 날짜
            th 체크아웃 날짜
            th 숙박인원
            th 예약요청 시간
        //- each host in hosts
        //-     tr
        //-       td= host.content
        each resevelist in resevelists
            tr
             td= resevelist.check_in
             td= resevelist.check_out
             td= resevelist.number_op
             td= resevelist.requestAt