extends ../layout

block content
    .container
        h1 예약 요청
        form(action= '/request/request', method='POST')
            .form-group
                input.form-control(type='text', name='check_in', placeholder='20xx년 xx월 xx일')
            .form-group
                input.form-control(type='text', name='check_out', placeholder='20xx년 xx월 xx일')
            .form-group
                input.form-control(type='text', name='number_op', placeholder='숙박인원')
            button.bnt.bnt-primary(type='submit') 요청