extends layout

block hero-unit
  .jumbotron
    .container
      h1 AIRBNB

block content
  .container
    .row
      .col-md-6
        h3 서비스 목적
        p 본 서비스는 웹프로그래밍 수업을 위해서 sample로 만들어보는 것입니다. 
      .col-md-6
        h3 주요 기능
        ul
          li 숙도 등록
          li 회원가입
          li 로그인, 로그아웃
          li 비밀번호 암호화 
          li 회원정보 수정
          li 페이스북 로그인
          li 숙소 목록확인
  
